<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
		<title>Items for sale</title>
	</head>
	<body>
		<%- include('../partials/nav.ejs') %>
		<h1 class="Item-header center">List of Items</h1>

		<div class="section">
			<% if(!user) { %>
				<p class="center">Please <a href="/auth/google">Log In</a> to Create a Sale Listing</p>
			<% } else { %>
				<div class="section">
					<a class="waves-effect waves-light btn right" href="/items/new">Create New Sale Listing</a>
				</div>
				<% } %>
			<% if(!items.length) { %>
				<p>There are no items being sold yet.</p>
			<% } %>
		</div>
		<div class="item-div container">
			<ol>
				<% items.forEach((item, i) => { %>
					<div class="divider"></div>
					<div class="section">
						<li>
							<ul>
								<li><a class="waves-effect waves-light btn right center-align" href="/items/<%= item._id %>">More Details</a></li>
								<li>Item: <%= item.name %></a></li>
								<li>Type of item: <%= item.items_type %></li>
								<li>Price: <%= item.price %></li>
							</ul>
						</li>
					</div>
				<% }) %>
			</ol>
		</div> 
	</body>
</html>