<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
		<title>Items for sale</title>
	</head>
	<body>

		<%- include('../partials/nav.ejs') %>

		</nav>
		<h1 class="Item-header">List of Items</h1>
			<ul>
				<li>
					<a href="/items">List of Items for Sale</a>
				</li>
				<li>
					<a href="/items/new">Post an Item to Sell</a>
				</li>
			</ul>
			<a href ="/"> Back to Home</a>
			
			<div class="item-div">
				<% items.forEach((item, i) => { %>
					<div class="itemList">
						<tr>
							<td><%= item.name %></td>
							<td><%= item.items_type %></td>
							<td><%= item.items_description %></td>
							<td><%= item.location %></td>
							<td><%= item.price %></td>
							<td><a href="/items/<%= item._id %>">DETAILS</a></td>
						  </tr>
					</div>
				<% }) %>
			</div> 
		</nav>
	</body>
</html>