<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script defer src="script.js"></script>
        <link rel="stylesheet" href="../public/css/style.css"/>
		<title>Items for sale</title>
	</head>
	<body>
		<nav>
			<% if (user) { %>
				<a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
			<% } else { %>
				<a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
			<% } %>

		</nav>
		<h1 class="Item-header">List of Items</h1>
			<ul>
				<li>
					<a href="/items">List of Items for Sale</a>
				</li>
				<li>
					<a href="/items/new">Post an Item to Sell</a>
				</li>
			</ul>
			<a href ="/"> Back to Home</a>
			
			<div class="item-div">
				<% items.forEach((item, i) => { %>
					<div class="itemList">
						<ul>
							<li><%= item.name %></li>
							<li><%= item.items_type %></li>
							<li><%= item.items_description %></li>
							<li><%= item.location %></li>
							<li><%= item.price %></li>
							<li><a href="/items/<%= item._id %>">DETAILS</a></li>
						</ul>
					</div>
				<% }) %>
			</div> 
		</nav>
	</body>
</html>