<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
		<title>Items for sale</title>
	</head>
	<body>
		<%- include('../partials/nav.ejs') %>
		<h1 class="Item-header">List of Items</h1>
			<ul>
				<li>
					<a href="/items/new">Post an Item to Sell</a>
				</li>
			</ul>
			<div class="item-div">
				<% items.forEach((item, i) => { %>
					<div class="itemList">
						<ul>
							<li><%= item.name %></li>
							<li><%= item.items_type %></li>
							<li><%= item.items_description %></li>
							<li><%= item.location %></li>
							<li><%= item.price %></li>
							<li><a href="/items/<%= item._id %>">DETAILS</a></li>
						</ul>
					</div>
				<% }) %>
			</div> 
	</body>
</html>