<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
		<title>Items for Sale<%= item.name %></title>
	</head>
<body>
    <main>
		<%- include('../partials/nav.ejs') %>
        <div class="container">
            <h2 class="center">List of item</h2>
            <section>
                <h3 class="center">Item Info</h3>
                <% if(!user) { %>
                    <p class="center">Please <a href="/auth/google">Log In</a> to Create a Sale Listing</p>
                <% } else { %>
                    <a class="waves-effect waves-light btn" href="/items/<%= item._id %>/edit">Edit</a>
                <% } %>
                <ul class="center">
                    <li>Item: <%= item.name %></li>
                    <li>Company: <%= item.items_type %></li>
                    <li>Description: <%= item.items_description %></li>
                    <li>Location: <%= item.location %></li>
                    <li>Price: $<%= item.price %></li>
                    <li>Seller: <%= item.user.name %></li>
                </ul>
            </section>
            <form action="/items/<%= item.id %>?_method=DELETE" method="POST">
                <button type="submit" value="Delete Item Sale Listing" class="right btn waves-effect waves-light" >
                    Delete Item Sale Listing
                <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
        </main>
    </body>
    </html>
