<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
		<title>Items for Sale<%= item.name %></title>
	</head>
	<!-- <body>
		<%- include('../partials/nav.ejs') %>
		<main>
			<section>
				<h2>Item Info</h2>
				<a href="/items/<%=item._id %>/edit">Edit</a>
				<ul>
					<li>Name: <%= item.name %></li>
					<li>Items:</li>
					<% items.forEach(item => { %>
						<li><%=item.name %></li>
					<% }) %>
				</ul>
			</section>
			<form action="/items/<%= item._id %>?_method=DELETE" method="POST">
				<input type="submit" value="Delete" />
			</form>
		</main>
	</body>
</html> -->
<body>
    <main>
            <div class="container">
                <div class="row">
                    <form action="/items/<%= item._id%>?_method=PUT" method="POST" class="col s12">
                        <div class="row">
                            <h5>Update the Item Information </h5>
                            <div class="input-field col s12">
                                <input name="user_id" type="hidden" value="<%= user.id %>">
                                <input name="name" id="name" type="text" class="validate" value="<%= item.name %>">
                                <label for="name">Item Name</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="items_type" id="items_type" type="text" class="validate" value="<%= item.items_type %>">
                                <label for="items_type">Item type</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="location" id="location" type="text" class="validate" value="<%= item.location %>">
                                <label for="location">Location</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="price" id="price" type="text" class="validate" value="<%= item.price %>">
                                <label for="price">Item price</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea name="items_description" id="items_description" class="materialize-textarea"><%= item.items_description %></textarea>
                                <label for="items_description">Item description</label>
                            </div>
                        </div>
                        <input type="submit" value="Update" />
                    </form>
                </div>
            </div>
        </div>
            
        </main>
    </body>
    </html>
