<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
		<title>Items for Sale<%= item.name %></title>
	</head>
	<body>
		<%- include('../partials/nav.ejs') %>
		<main>
			<section>
				<h2>Item Info</h2>
				<a href="/items/<%=item._id %>/edit">Edit</a>
				<ul>
					<li>Name: <%= item.name %></li>
					<li>Items:</li>
					<% items.forEach(item => { %>
						<li><%=item.name %></li>
					<% }) %>
				</ul>
			</section>
			<form action="/items/<%= item._id %>?_method=DELETE" method="POST">
				<input type="submit" value="Delete" />
			</form>
		</main>
	</body>
</html>
