<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
		<title>Job Listing</title>
	</head>
	<body>
		<%- include('../partials/nav.ejs') %>
		<main>
			<h1>Edit <%= job.title %></h1>
			<form action="/jobs/<%= job._id %>?_method=PUT" method="POST">
				<input type="text" title="title" value="<%= job.title %>" />
                <div>
                    <label>Company<span class="required">*</span></label><br>
                    <input type="text" name="companyName"><br> 
                </div>
                <div>
                    <label>Description</label><br>
                    <input type="text" name="description"><br>
                </div>
                <div>
                    <label>Date</label><br/>
                    <textarea type="text" name="date" rows="7" cols="30"></textarea><br>
						<input type="submit" value="Update" />
                </div>
			</form>
		</main>
	</body>
</html>