<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
		<title>List of Jobs</title>
	</head>
	<body>
		<%- include('../partials/nav.ejs') %>

		<h4 class="Job-header">Job Listings</h4>
		<div class="job-div">
			<% jobs.forEach((job, i) => { %>
		<div class="jobList">
			<tr>
				<td><%= job.title %></td>
				<td><%= job.company %></td>
				<td><%= job.description %></td>
				<td><%= job.date %></td>
				<td><a href="/jobs/<%= job._id %>">DETAILS</a></td>
			  </tr>
		</div>
	<% }) %>
</div> 
	</body>
</html>