<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
		<title>Teri's List | List of Jobs</title>
	</head>
	<body>
		<%- include('../partials/nav.ejs') %>
		<div class="container">
			<h3 class="Job-header center">Job Listings</h3>
			<div class="section">
				<% if(!user) { %>
					<p class="center">Please <a href="/auth/google">Log In</a> to Create a Job Listing</p>
				<% } else { %>
					<div class="section">
						<a class="waves-effect waves-light btn right" href="/jobs/new">Create New Job Listing</a>
					</div>
					<% } %>
				<% if(!jobs.length) { %>
					<p>There are no jobs available yet.</p>
				<% } %>
			</div>
			<ol>
				<% jobs.forEach(job => { %>
					<div class="divider"></div>
					<a class="waves-effect waves-light btn right center-align" href="/jobs/<%= jobs._id %>">More Details</a>
					<div class="section">
						<li>
							Job Title: <%= job.title %></br>  Company: <%= job.company %>
						</li>
					</div>
				<% })%>
			</ol>
		</div>
	</body>
</html>