<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
		<title>List of Jobs</title>
	</head>
	<body>
		<%- include('../partials/nav.ejs') %>

		<h4 class="Job-header">Job Listings</h4>
		<% if(!user) { %>
			<p>Please Log In to Create a Job Listing</p>
		<% } else { %>
			<a href="/jobs/new">Create New Job Listing</a>
		<% } %>
		<% if(!jobs.length) { %>
			<p>There are no jobs available yet.</p>
		<% } %>
			<ol>
				<% jobs.forEach(job => { %>
				<li>
					Job Title:<a href="/jobs/<%= job._id %>"> <%= job.title %></br>  </a>Company: <%= job.company %>
				</li>
				<% })%>
			</ol>
	</body>
</html>