<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head.ejs') %>
		<title>Job Listing</title>
	</head>
	<body>
		<%- include('../partials/nav.ejs') %>
		<main>
			<h1>List of Jobs</h1>
			<section>
				<h2>Job Info</h2>
				<a href="/jobs/<%= jobs._id %>/edit">Edit</a>
				<ul>
					<li>Title: <%= jobs.title %></li>
					<li>Company: <%= jobs.company %></li>
					<li>Description: <%= jobs.description %></li>
					<li>Poster: <%= jobs.user.name %></li>
				</ul>
			</section>
			<form action="/jobs/<%= jobs.id %>?_method=DELETE" method="POST">
				<input type="submit" value="Delete Job Listing" />
			</form>
		</main>
	</body>
</html>