<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Teri's List</title>
</head>
<body>

    <%- include('./partials/nav.ejs') %>
            <div>
                <h5 id="header">Welcome back <%= user.name %>!</h5>
                <p>The following are your current posts:</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s6">
                        <div><a class="waves-effect waves-light btn" href="/items/new">Create a new Item</a></div> 
                    </br>
                    <div>You currently have the following visible Items:</div> 

                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Location</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% items.forEach((item, i) => { %>
                            <tr>
                                <td><%= item.name %></td>
                                <td><%= item.items_type %></td>
                                <td><%= item.location %></td>
                                <td><%= item.price %></td>
                                <td><a class="waves-effect waves-light btn" href="/items/<%= item._id %>">Edit</a></td>
                                <td><a class="waves-effect waves-light btn" href="/items/<%= item._id %>">Delete</a></td>                                  
                                    <form action="/items/<%= item._id %>?_method=DELETE" method="POST"></form>
                            </tr>
                        <% }) %>
                        </tbody>
                        </table>
                    </div>   
                    <div class="col s6">
                        <div><a class="waves-effect waves-light btn" href="/jobs/new">Create a new Job</a></div> 
                    </br>
                    <div>You currently have the following visible Jobs:</div> 
                    <table>
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Company</th>
                                <th>Description</th>
                                <th>Date</th>
                            </tr> 
                          </thead>
                        <tbody>
                        <% user.jobs.forEach(job => { %>
                            <tr>
                                <td><%= job.title %></td>
                                <td><%= job.company %></td>
                                <td><%= job.description %></td>
                                <td><%= job.date %></td>
                                <td><a class="waves-effect waves-light btn" href="/user.jobs/<%= job._id %>">Edit</a></td>
                                <td><a class="waves-effect waves-light btn" href="/user.jobs/<%= job._id %>">Delete</a></td>                                  
                                    <form action="/jobs/<%= job._id %>?_method=DELETE" method="POST"></form>
                            </tr>
                        <% }) %>
                        </tbody>
                        </table>
                    </div>    
                </div>
            </div>
</body>
</html>
