<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="../public/css/style.css"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <title>Craigs List</title>
</head>
<body>

    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Craigs List</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/search">Search</a></li>
            <% if (user) { %>
                <li><a href="/logout">Log Out</a></li>
            <% } else { %>
                <li><a href="/auth/google">Login with Google</a></li>
            <% } %>
          </ul>
        </div>
      </nav>
                <form>
                    <div>
                        <h5 id="header">Welcome <%= user.name %>!</h5>
                        <p>The following are your current posts:</p>
                    </div>
                </form>   
                <div class="container">
                    <div class="row">
                        <div class="col s6">
                            <div><a href="/jobs/new">Create a new Job</a></div> 
                        <div>You have created the following Jobs</div> 
                        <ul class="">
                            <li class="collection-item">1</li>
                            <li class="collection-item">2</li>
                            <li class="collection-item">3</li>
                            <li class="collection-item">4</li>
                          </ul>  
                        </div>    
                        <div class="col s6">
                            <div><a href="/items/new">Create a new Item</a></div> 
                        <div>You have created the following Items</div> 
                        <% items.forEach((item, i) => { %>
                            <div class="itemList">
                                <ul>
                                    <li class="collection-item"><%= item.name %><%= item.items_type %></li>
                                    <li><%= item.items_type %></li>
                                    <li><%= item.items_description %></li>
                                    <li><%= item.location %></li>
                                    <li><%= item.price %></li>
                                    <li><%= item.user_id %></li>
                                    <li><a href="/items/<%= item._id %>">DETAILS</a></li>
                                </ul>
                            </div>
                        <% }) %>
                        <!-- <ul class="">
                            <li class="collection-item">1</li>
                            <li class="collection-item">2</li>
                            <li class="collection-item">3</li>
                            <li class="collection-item">4</li>
                          </ul>   -->
 
                          
 
                        </div>  
                      </div>
                  </div>
</body>
</html>

